# macOS
.DS_Store

# Android / IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*

# Bundle artifact
*.jsbundle

# Testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
